.table-responsive {
  max-height: 40vh;
  overflow-y: auto;
}

.table-responsive table {
  border-collapse: separate;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
  background-color: #343a40;
  /* coincide con table-dark */
  z-index: 10;
}

.acciones-buttons {
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: nowrap;
}

.acciones-buttons button {
    min-width: 36px;
}
td:nth-child(3) { 
  max-width: 250px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}




.img-container {
  width: 120px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  background: #000000;
}

.img-thumb {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
}



.img-container:hover {
  transform: scale(1.15);        
  z-index: 10;                
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.img-container:hover .img-thumb {
  transform: scale(1.10);        
}


.img-extra-box {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.img-extra-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-delete-img {
  position: absolute;
  top: 3px;
  right: 3px;
  background: rgba(255, 0, 0, 0.75);
  border: none;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
