body {
  background-color: #121212;
}

/*
.navbar {
  background-color: #000;
}*/

.panel {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
}

.tabla-container {
  max-height: 30vh;
  overflow-y: auto;
}

table {
  color: #f8f9fa;
}

.table thead th {
  background-color: #2c2c2c;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Efecto hover en sidebar 
.sidebar-link:hover {
  background-color: #343a40;
  text-decoration: none;
}

/* Link activo 
.sidebar-link.active {
  background-color: #0d6efd;
}*/

/* Sidebar fijo en pantallas grandes (>=992px) */
/*REPETIDO EN CSS: MODERADORES , PLATAFORMAS, GENEROS */
@media (min-width: 992px) {
  .sidebar-nav {
    position: fixed;
    top: 56px;
    left: 0;
    width: 220px;
    height: calc(100% - 56px);
    transform: none !important;
    visibility: visible !important;
  }

  main {
    margin-left: 220px;
  }
}

/* Estilo links 
.sidebar-nav .nav-link {
  padding: 10px 20px;
  border-radius: 5px;
}

.sidebar-nav .nav-link.active {
  background-color: #0d6efd;
}

.sidebar-nav .nav-link:hover {
  background-color: #343a40;
}*/

.table-responsive {
  max-height: 40vh;
  overflow-y: auto;
}

.table-responsive table {
  border-collapse: separate;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
  background-color: #343a40;
  /* coincide con table-dark */
  z-index: 10;
}