#faq-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.titulo {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 18px 0;
  cursor: pointer;
}


.faq-question {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  color: #555;
}

/* flechita */
.arrow {
  font-size: 18px;
  transition: transform .3s ease;
}

/* Cuando se abre la respuesta , gira */
.faq-item.active .arrow {
  transform: rotate(180deg);
}


.faq-answer {
  max-height: 0;
  overflow: hidden;

  background: #fff;
  border-radius: 6px;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.faq-item.active .faq-answer {
  max-height: 2000px;
  padding: 20px;
}


.faq-empty {
  text-align: center;
  padding: 45px 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f8f9fa;
  color: #444;
}

.faq-empty i {
  font-size: 45px;
  color: #666;
  margin-bottom: 12px;
  display: block;
}