.imagen_portada{
    max-height: 200px;
}

.perfil-icono {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  #tendenciasCarousel .carousel-item {
    height: 60vh;               /* viewport height, altura de area visible del navegador (es un porcentaje) */
  }
  
  #tendenciasCarousel .carousel-item img {
    height: 100%;               /* La imagen ocupa todo el alto */
    width: auto;                /* Es para mantener la proporcion de la imagen */
    margin: 0 auto;             /* Con esto se centra la imagen */
    display: block;
    object-fit: contain;        /* Se muestra la imagen completa */
    background-color: #000;     /* Los espacios vacios arriba y abajo de la imagen se rellenan con un fondo negro */
  }
  
  .card-img-top {
    width: 100%;            /* Ocupa el ancho completo del contenedor .card*/
    height: 200px;          /* Altura fija para que las card tengan imagenes del mismo alto */
    object-fit: cover;      /* Cover recorta las imagenes sin que se deformen, partes de la imagen pueden quedar fuera... */
  }
  
